<div class="control-toolbar">
    <div class="toolbar-item toolbar-primary">
        <div data-control="toolbar">
            <div data-control="toolbar">
                <div class="btn-group">
                    <div class="loading-indicator-container">
                        <?php if (config('github.enabled')): ?>
                            <a
                                    href="<?= Backend::url('planetadeleste/privateplugins/repos/create') ?>"
                                    class="btn btn-primary oc-icon-github"
                                    data-request="onLoadRepos" data-request-data="source: 'github'"
                                    data-attach-loading
                                    data-load-indicator="<?= e( trans('backend::lang.list.loading') ) ?>">
                                <?= e(
                                    trans('planetadeleste.privateplugins::lang.repo.import_from', ['source' => 'GitHub'])
                                ) ?>
                            </a>
                        <?php endif; ?>


                        <?php if (config('bitbucket.enabled')): ?>
                            <a
                                    href="<?= Backend::url('planetadeleste/privateplugins/repos/create') ?>"
                                    class="btn btn-primary oc-icon-bitbucket"
                                    data-request="onLoadRepos" data-request-data="source: 'bitbucket'"
                                    data-attach-loading
                                    data-load-indicator="<?= e( trans('backend::lang.list.loading') ) ?>">
                                <?= e(
                                    trans('planetadeleste.privateplugins::lang.repo.import_from', ['source' => 'Bitbucket'])
                                ) ?>
                            </a>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
