<?php if ($plugin): ?>
    <?= $this->makeHintPartial(
        'hint_warn_php',
        [
            'type'    => 'info',
            'icon'    => 'icon-info',
            'title'   => trans('planetadeleste.privateplugins::lang.repo.plugin_in_marketplace'),
            'message' => trans('planetadeleste.privateplugins::lang.repo.plugin_found_in_marketplace')
        ]
    ) ?>
    <div class="product-list">
        <a class="product-card" href="<?= str_replace('http://gateway.', 'https://', $plugin['product_url']) ?>" target="_blank">
            <div class="card-front">
                <div class="icon">
                    <img class="media-object" src="<?= $plugin['image'] ?>" alt="<?= $plugin['name'] ?>">
                </div>
                <h4><?= $plugin['name'] ?></h4>
                <p class="author"><?= $plugin['author'] ?></p>
                <p class="description"><?= $plugin['description'] ?></p>
            </div>
        </a>
    </div>
<?php endif; ?>
