<?php
if (!isset($dependences)) {
    $dependences = [];
}

if (!isset($has_composer)) {
    $has_composer = null;
}

if ($plugin): ?>
    <div class="product-list">
        <div class="product-card">
            <div class="card-front">
                <?php if (array_get($plugin, 'image')): ?>
                <div class="icon">
                    <img class="media-object" src="<?= $plugin['image'] ?>" alt="<?= $plugin['name'] ?>">
                </div>
                <?php endif; ?>
                <h4>
                    <i class="icon-<?= $plugin['is_private'] ? 'lock' : 'globe' ?>"></i>
                    <?= $plugin['name'] ?>
                </h4>
                <p class="author"><?= $plugin['author'] ?></p>
                <p class="description"><?= $plugin['description'] ?></p>
                <?php if (count($dependences)): ?>
                    <hr/>
                    <h5><?= e(trans('planetadeleste.privateplugins::lang.repo.dependencies_title')) ?></h5>
                    <div class="control-updatelist">
                        <?php foreach ($dependences as $require): ?>
                            <div class="update-item <?= ($require[1] === true) ? 'item-danger' : '' ?>">
                                <div class="item-header">
                                    <h5><?= $require[0] ?></h5>
                                </div>
                                <?php if ($require[1] === true): ?>
                                    <dl>
                                        <dd>
                                            <div class="callout fade in callout-danger no-subheader">
                                                <div class="header">
                                                    <i class="icon-warning"></i>
                                                    <h3>
                                                        <?= e(
                                                            trans(
                                                                'planetadeleste.privateplugins::lang.repo.missing_dependence',
                                                                ['name' => $plugin['name'], 'dependence' => $require[0]]
                                                            )
                                                        ) ?>
                                                    </h3>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                <?php endif; ?>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>

                <?php if ($has_composer): ?>
                    <div class="callout fade in callout-info no-subheader no-icon">
                        <div class="header">
                            <h3>
                                <img src="https://getcomposer.org/img/logo-composer-transparent3.png" alt="Composer"
                                     height="35">
                                <?= e(trans('planetadeleste.privateplugins::lang.repo.has_composer_title')) ?>
                            </h3>
                        </div>
                    </div>
                <?php endif; ?>

            </div>
        </div>
    </div>
<?php endif; ?>