<?php
    if(!isset($pages)) {
        $pages = $pagesTo = $pagesFrom = $total = $page = null;
    }

    if(!isset($source)) {
        $source = null;
    }

    if(!isset($hideTableHead)) {
        $hideTableHead = null;
    }
?>
<div class="control-list">
    <table class="table data" data-request-data="source: '<?= $source ?>'">
        <?php if (!$hideTableHead): ?>
        <thead>
        <tr>
            <th class="list-checkbox"></th>
            <th><span><?= e(trans('planetadeleste.privateplugins::lang.fields.name')) ?></span></th>
            <th><span><?= e(trans('planetadeleste.privateplugins::lang.fields.slug')) ?></span></th>
            <th><span><?= e(trans('planetadeleste.privateplugins::lang.fields.created_at')) ?></span></th>
            <th><span><?= e(trans('planetadeleste.privateplugins::lang.fields.last_commit')) ?></span></th>
            <th></th>
        </tr>
        </thead>
        <?php endif; ?>

        <tbody>
        <?= $list ?>
        </tbody>
        <?php if ($pages > 1): ?>
            <tfoot>
            <tr>
                <td colspan="6">
                    <div class="control-pagination">
                        <span class="page-iteration"><?= e(
                                trans(
                                    'backend::lang.list.pagination',
                                    [
                                        'from'  => $pagesFrom,
                                        'to'    => $pagesTo,
                                        'total' => $total
                                    ]
                                )
                            ) ?></span>
                        <?php if ($page > 1): ?>
                            <?php if ($pages > 2): ?>
                            <a href="javascript://" class="page-first"
                               title="<?= e(trans('backend::lang.list.first_page')) ?>"
                               data-request="onLoadRepos"
                               data-request-data="page: 1"></a>
                            <?php endif; ?>
                            <a href="javascript://" class="page-back"
                               title="<?= e(trans('backend::lang.list.first_page')) ?>"
                               data-request="onLoadRepos"
                               data-request-data="page: <?= ($page - 1) ?>"></a>
                        <?php else: ?>
                            <span class="page-first" title="<?= e(trans('backend::lang.list.first_page')) ?>"></span>
                            <span class="page-back" title="<?= e(trans('backend::lang.list.prev_page')) ?>"></span>
                        <?php endif; ?>

                        <select name="page"
                                data-request="onLoadRepos"
                                class="form-control custom-select select-no-search">
                            <?php for ($i = 1; $i <= $pages; $i++): ?>
                                <option value="<?= $i ?>" <?= ($page == $i) ? 'selected' : '' ?>><?= $i ?></option>
                            <?php endfor; ?>
                        </select>

                        <?php if ($pages > $page): ?>
                            <a href="javascript://" class="page-next"
                               title="<?= e(trans('backend::lang.list.next_page')) ?>"
                               data-request="onLoadRepos"
                               data-request-data="page: <?= ($page + 1) ?>"></a>
                            <?php if ($pages > 2): ?>
                            <a href="javascript://" class="page-last"
                               title="<?= e(trans('backend::lang.list.last_page')) ?>"
                               data-request="onLoadRepos"
                               data-request-data="page: <?= $pages ?>"></a>
                            <?php endif; ?>
                        <?php else: ?>
                            <span class="page-next" title="<?= e(trans('backend::lang.list.next_page')) ?>"></span>
                            <span class="page-last" title="<?= e(trans('backend::lang.list.last_page')) ?>"></span>
                        <?php endif; ?>
                    </div>
                </td>
            </tr>
            </tfoot>
        <?php endif; ?>
    </table>
</div>