<?php
if (!isset($install)) {
    $install = null;
}

if (!isset($update)) {
    $update = null;
}

if (!isset($force)) {
    $force = null;
}

$label = ($force) ? 'force_install' : 'install';
if($update) {
    $label = 'update';
}

?>
<div class="modal-body">
    <?= $content ?>
    <?php if($update): ?>
        <div class="callout fade in callout-info no-subheader">
            <div class="header">
                <i class="icon-info"></i>
                <h3><?= e(trans('planetadeleste.privateplugins::lang.repo.installed')) ?></h3>
            </div>
        </div>
    <?php endif; ?>
</div>
<div class="modal-footer">
    <?php if ($install || $update): ?>
        <button
                type="button"
                class="btn btn-<?= ($force) ? 'danger' : 'success' ?>"
                data-request="onInstallPlugin"
                data-request-confirm="<?= e(
                    trans('planetadeleste.privateplugins::lang.repo.install_confirm', ['name' => $slug])
                ) ?>"
        >
            <?= e(trans('planetadeleste.privateplugins::lang.repo.'. $label )) ?>
        </button>
    <?php endif; ?>

    <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
        <?= e(trans('planetadeleste.privateplugins::lang.repo.cancel')) ?>
    </button>
</div>