<div id="repoPopup">
    <?= Form::open(['id' => 'repoForm']) ?>
    <div id="formVars"><?= $this->makePartial('form_vars_php') ?></div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= e(trans('planetadeleste.privateplugins::lang.repo.update_title')) ?></h4>
    </div>
    <div id="repoPopupContainer">
        <div class="modal-body">

            <?php if ($this->fatalError): ?>
                <p class="flash-message static error"><?= $fatalError ?></p>
            <?php else: ?>
                <div class="loading-indicator-container">
                    <p>&nbsp;</p>
                    <div class="loading-indicator transparent">
                        <div><?= e(trans('planetadeleste.privateplugins::lang.repo.connecting')) ?></div>
                        <span></span>
                    </div>
                </div>
            <?php endif ?>

        </div>
        <div class="modal-footer">
            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup">
                <?= e(trans('planetadeleste.privateplugins::lang.repo.cancel')) ?>
            </button>
        </div>
    </div>
    <?= Form::close() ?>
</div>

<script>
    $('#repoPopup').on('popupComplete', function () {
        setTimeout(function () {
            $.privatePlugins.repoProcess.check();
        }, 600);
    })
</script>