<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('planetadeleste/privateplugins/repos') ?>"><?= e(trans('planetadeleste.privateplugins::lang.repos.menu_label')) ?></a></li>
        <li><?= e(trans($this->pageTitle)) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('planetadeleste/privateplugins/repos') ?>" class="btn btn-default"><?= e(trans('planetadeleste.privateplugins::lang.repos.return_to_list')) ?></a></p>

<?php endif ?>