.product-list .product-card {
  display:         block;
  vertical-align:  top;
  border:          1px solid #e7e9ea;
  background:      #fafafa;
  border-radius:   4px;
  position:        relative;
  text-decoration: none;
  padding:         15px;
  margin-bottom:   20px;
  width:           100%;
  
  h4 {
    font-size:     20px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space:   nowrap;
    overflow:      hidden;
  }
  
  p {
    font-size:     15px;
    line-height:   130%;
    margin-bottom: 10px;
    
    &.footer {
      position:      absolute;
      margin:        0;
      padding:       2px 33px 0 0;
      text-overflow: ellipsis;
      white-space:   nowrap;
      overflow:      hidden;
      width:         100%;
      bottom:        10px;
      font-size:     14px;
    }
  }
  
  h4, p {
    margin-right: 75px
  }
  
  .price-tag {
    border-radius: 20px;
    background:    #eaf0f1;
    color:         #586667;
    font-size:     12px;
    line-height:   100%;
    display:       inline-block;
    text-align:    center;
    padding:       5px 11px;
    margin-top:    25px;
  }
  
  .icon {
    float:      right;
    text-align: center;
    width:      64px;
    img {
      width:   64px;
      height:  64px;
      display: block;
    }
  }
  
  .card-front p {
    color: #586667;
    &.footer {
      color: #8da6a6;
    }
  }
  
  .card-back {
    display: none;
  }
  
}

