<div class="content">
    <h2>Creating a personal access token for the command line</h2>
    <h3>Creating a token</h3>
    <ol>
        <li>
            <p><a href="https://help.github.com/articles/verifying-your-email-address" target="_blank">Verify your email
                    address</a>, if it hasn't been verified yet.</p>
        </li>

        <li><img src="https://help.github.com/assets/images/help/settings/userbar-account-settings.png"
                 alt="Settings icon in the user bar" class="img-responsive">
            <p>In the upper-right corner of any page, click your profile photo, then click <strong>Settings</strong>.
            </p>
        </li>

        <li><p><img src="https://help.github.com/assets/images/help/settings/developer-settings.png"
                    alt="Developer settings" class="img-responsive">
                In the left sidebar, click <strong>Developer settings</strong>.
            </p></li>
        <li><p><img src="https://help.github.com/assets/images/help/settings/personal_access_tokens_tab.png"
                    alt="Personal access tokens" class="img-responsive">
                In the left sidebar, click <strong>Personal access tokens</strong>.
            </p>
        </li>
        <li><p><img src="https://help.github.com/assets/images/help/settings/generate_new_token.png"
                    alt="Generate new token button" class="img-responsive">
                Click <strong>Generate new token</strong>.
            </p></li>
        <li><img src="https://help.github.com/assets/images/help/settings/token_description.png"
                 alt="Token description field" class="img-responsive">
            Give your token a descriptive name.

        </li>
        <li><img src="https://help.github.com/assets/images/help/settings/token_scopes.gif"
                 alt="Selecting token scopes" class="img-responsive">
            Select the scopes, or permissions, you'd like to grant this token. To use your token to access
            repositories from the command line, select <strong>repo</strong>.

        </li>
        <li><img src="https://help.github.com/assets/images/help/settings/generate_token.png"
                 alt="Generate token button" class="img-responsive">
            Click <strong>Generate token</strong>.

        </li>
        <li>
            <p><img src="https://help.github.com/assets/images/help/settings/personal_access_tokens.png"
                    alt="Newly created token" class="img-responsive">
                Click to copy the token to your clipboard. For security
                reasons, after you navigate off the page, you will not be able to see the token again.
            </p>

            <div class="alert warning">

                <p><strong>Warning:</strong> Treat your tokens like passwords and keep them secret. When working with
                    the API, use tokens as environment variables instead of hardcoding them into your programs.</p>

            </div>
        </li>
        <li>To use your token to authenticate to an organization that uses SAML SSO, <a
                    href="https://help.github.com/articles/authorizing-a-personal-access-token-for-use-with-a-saml-single-sign-on-organization">authorize
                the token for use with a SAML single-sign-on organization</a>.
        </li>
    </ol>
</div>