<?php if (isset($repos)): ?>
    <?php foreach ($repos as $repo): ?>
        <?php list($username, $slug) = explode('/', $repo['full_name']) ?>
        <tr data-request-data="uuid:'<?= $repo['id'] ?>', slug: '<?= $slug ?>', path: '<?= $repo['full_name'] ?>'">
            <td><?= $repo['language'] ?></td>
            <td><?= $repo['name'] ?></td>
            <td><?= $repo['full_name'] ?></td>
            <td><?= $repo['created_at'] ?></td>
            <td><?= $repo['updated_at'] ?></td>
            <td>
                <i class="icon-<?= $repo['private'] ? 'lock' : 'globe' ?>"></i>
                <a href="javascrip://"
                   class="btn btn-link"
                   title="<?= e( trans('planetadeleste.privateplugins::lang.repo.info_title') ) ?>"
                   data-control="popup"
                   data-handler="onLoadRepoModal">
                    <i class="icon-download"></i>
                </a>
            </td>
        </tr>
    <?php endforeach; ?>
<?php endif; ?>
