<div class="content">

    <p></p>
    <h2 id="OAuthonBitbucketCloud-OAuth2.0">OAuth 2.0</h2>
    <p>This section provides the basic OAuth 2.0 information to register your consumer and set up OAuth 2.0 to make API
        calls.</p>
    <h3 id="OAuthonBitbucketCloud-Createaconsumer">Create a consumer</h3>
    <p>OAuth needs a key and secret, together these are know as an OAuth consumer. You can create a consumer on any
        existing individual or team account. To create a consumer, do the following:</p>
    <p></p>
    <ol class="conf-macro output-block" data-hasbody="false" data-macro-name="include">
        <li>From your avatar in the bottom left, click&nbsp;<strong>Bitbucket settings</strong>.</li>
        <li><p>Click&nbsp;<strong>OAuth</strong>&nbsp;from the left navigation.<br>Click the&nbsp;<strong>Add
                    consumer</strong>&nbsp;button. &nbsp;<br>The system requests the following information:</p>
            <div class="control-list">
                <table class="table data">
                    <thead>
                    <tr>
                        <th class="confluenceTh">Field</th>
                        <th class="confluenceTh">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="confluenceTd"><strong>Name</strong></td>
                        <td class="confluenceTd">The display name for your consumer. This must be unique within your
                            account. This is required.
                        </td>
                    </tr>
                    <tr>
                        <td class="confluenceTd"><strong>Description</strong></td>
                        <td class="confluenceTd">An optional description of what your consumer does.</td>
                    </tr>
                    <tr>
                        <td colspan="1" class="confluenceTd"><strong>Callback URL</strong></td>
                        <td colspan="1" class="confluenceTd"><p>Required for OAuth 2.0 consumers.</p>
                            <p>Write: <code><?= url('/planetadeleste_privateplugins_login/bitbucket') ?></code></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="confluenceTd"><strong>URL</strong></td>
                        <td class="confluenceTd">An optional URL where the curious can go to learn more about your
                            cool application.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>Click&nbsp;<strong>Save</strong>.&nbsp; <br>The system generates a key and a secret for you.</li>
        <li>Toggle the consumer name to see the
            generated&nbsp;<strong>Key</strong>&nbsp;and&nbsp;<strong>Secret</strong>&nbsp;value for your consumer.
        </li>
    </ol>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

</div>