<?php if (isset($repos)): ?>
    <?php foreach ($repos->values as $repo): ?>
        <tr data-request-data="uuid:'<?= $repo->uuid ?>', slug: '<?= $repo->slug ?>', path: '<?= $repo->full_name ?>'">
            <td>
<!--                <i class="icon-bitbucket"></i>-->
                <img src="<?= $repo->links->avatar->href ?>" alt="<?= $repo->name ?>" class="img-circle" width="50">
            </td>
            <td><?= $repo->name ?></td>
            <td><?= $repo->full_name ?></td>
            <td><?= $repo->created_on ?></td>
            <td><?= $repo->updated_on ?></td>
            <td>
                <i class="icon-<?= $repo->is_private ? 'lock' : 'globe' ?>"></i>
                <a href="javascrip://"
                   class="btn btn-link"
                   title="<?= e( trans('planetadeleste.privateplugins::lang.repo.info_title') ) ?>"
                   data-control="popup"
                   data-handler="onLoadRepoModal">
                    <i class="icon-download"></i>
                </a>
            </td>
        </tr>
    <?php endforeach; ?>
<?php endif; ?>
