<tr>
    <td colspan="6" style="text-align: center">
        <h1><?= e( trans('planetadeleste.privateplugins::lang.repo.bitbucket_login_label') ) ?></h1>
        <p><?= e( trans('planetadeleste.privateplugins::lang.repo.bitbucket_login_info') ) ?></p>
        <a href="<?= url('/planetadeleste_privateplugins_login/bitbucket') ?>" class="btn btn-primary oc-icon-bitbucket">
            <?= e( trans('planetadeleste.privateplugins::lang.repo.continue') ) ?>
        </a>
    </td>
</tr>