.product-list .product-card {
  display: block;
  vertical-align: top;
  border: 1px solid #e7e9ea;
  background: #fafafa;
  border-radius: 4px;
  position: relative;
  text-decoration: none;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%; }
  .product-list .product-card h4 {
    font-size: 20px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .product-list .product-card p {
    font-size: 15px;
    line-height: 130%;
    margin-bottom: 10px; }
    .product-list .product-card p.footer {
      position: absolute;
      margin: 0;
      padding: 2px 33px 0 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      bottom: 10px;
      font-size: 14px; }
  .product-list .product-card h4, .product-list .product-card p {
    margin-right: 75px; }
  .product-list .product-card .price-tag {
    border-radius: 20px;
    background: #eaf0f1;
    color: #586667;
    font-size: 12px;
    line-height: 100%;
    display: inline-block;
    text-align: center;
    padding: 5px 11px;
    margin-top: 25px; }
  .product-list .product-card .icon {
    float: right;
    text-align: center;
    width: 64px; }
    .product-list .product-card .icon img {
      width: 64px;
      height: 64px;
      display: block; }
  .product-list .product-card .card-front p {
    color: #586667; }
    .product-list .product-card .card-front p.footer {
      color: #8da6a6; }
  .product-list .product-card .card-back {
    display: none; }

/*# sourceMappingURL=repos.css.map */
